<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

		<title>Stocks cash moneys$$$</title>

    <!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Bokeh -->
	<linK href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.css"
	rel="stylesheet" type="text/css">
	<link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.css"
	rel="stylesheet" type="text/css">

	<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.js"></script>
	<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.js"></script>

  </head>
	<body>
		<div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>Hello, World!</h2>
          <ul>
            <li><a target="_blank" href="https://www.heroku.com/">Heroku</a></li>
            <li><a target="_blank" href="http://flask.pocoo.org/">Flask</a></li>
            <li><a target="_blank" href="http://jinja.pocoo.org/docs/2.9/">Jinja2</a></li>
            <li><a target="_blank" href="http://getbootstrap.com/">Bootstrap</a></li>
          </ul>
		  <h2>Now for the real stuff</h2>
		  <form action"" method="post" name="ticker_symbol">
			  {{ form.hidden_tag() }}
			  <p>
				  Please enter the ticker symbol for a company:
				  {{ form.ticker_symbol(size=10) }}<br>
				  {% for error in form.ticker_symbol.errors %}
				  	<span style="color: red;">[{{ error }}]<span>
				  {% endfor %}
			  </p>
			  <p><input type="submit" value="SeeData"></p>
        </div>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% if script %}
			<p> Here we are! </p>
			{{ script|safe }}
			{{ div|safe }}
		{% endif %}
      </div>
		</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>
